@model SistemaGerProjetos.Models.Categoria;
@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Cadastro de Categorias";
}

<div class="container">
    <form method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nomecategoria" value="@Model.NomeCategoria" class="form-control" id="nome" placeholder="Digite o nome da categoria">
            @Html.ValidationMessage("nome")
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    @ViewBag.Mensagem
</div>